# Clase 2 
## Colecciones: Conjuntos

1. No importa el Orden
2. Mutabilidad: agregar / eliminar elementos
3. No se pueden repetir elementos

In [20]:
conjunto = { 1,2,3,4,5,6}

In [22]:
type(conjunto)

set

In [24]:
{1,2,3} == {3,1,2}

True

In [26]:
# Mutabilidad

conjunto.add(7)

In [28]:
conjunto

{1, 2, 3, 4, 5, 6, 7}

In [32]:
conjunto.add("A")

In [38]:
conjunto.add(3.14)

In [40]:
conjunto

{1, 2, 3, 3.14, 4, 5, 6, 7, 'A'}

In [42]:
conjunto.discard("A")

In [44]:
conjunto

{1, 2, 3, 3.14, 4, 5, 6, 7}

In [46]:
conjunto.remove(3.14)

In [48]:
conjunto

{1, 2, 3, 4, 5, 6, 7}

In [54]:
conjunto.add(1)

In [56]:
conjunto

{1, 2, 3, 4, 5, 6, 7}

## Operaciones

In [59]:
conj1 = {1,2,3,4,5}
conj2 = {3,4,5,6,7}

In [61]:
# Union

conj1.union(conj2)

{1, 2, 3, 4, 5, 6, 7}

In [65]:
conj1 | conj2  # pipe

{1, 2, 3, 4, 5, 6, 7}

In [69]:
# Intersección 

conj1.intersection(conj2)

{3, 4, 5}

In [71]:
conj1 & conj2

{3, 4, 5}

In [73]:
# Diferencia 

conj1.difference(conj2)

{1, 2}

In [75]:
conj1 - conj2

{1, 2}

In [77]:
# Diferencia Simétrica

conj1.symmetric_difference(conj2)

{1, 2, 6, 7}

In [79]:
conj1 ^ conj2

{1, 2, 6, 7}

In [85]:
# Cual es la única colección que tiene una sola manera de crear esa colección vacia?

d = set()

In [87]:
type(d)

set

In [89]:
a = []  
a = list()

# Indexación / Slicing

In [99]:
lista = [1,2,3,4,5,6,7,8,9,10,11]
letras = ["A", "B", "C", "D", "E", "F", "G", "H"]

In [95]:
lista[1]

2

In [97]:
lista[1:5]

[2, 3, 4, 5]

In [101]:
letras[0:5]

['A', 'B', 'C', 'D', 'E']

In [105]:
letras[:7]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [107]:
letras[5:]

['F', 'G', 'H']

In [111]:
letras[::3]

['A', 'D', 'G']

In [115]:
letras[-2]

'G'

In [117]:
letras[-4:]

['E', 'F', 'G', 'H']

In [119]:
provincia = "Neuquen"

In [123]:
provincia[-1]

'n'

In [125]:
provincia[::-1]

'neuqueN'

In [127]:
frase = "yo hago yoga hoy"
frase[::-1]

'yoh agoy ogah oy'

## Operadores de Python (// ** %)

In [130]:
13//5

2

In [132]:
2**3

8

In [134]:
21%4

1

In [136]:
22%4

2

## Operadores de pertenencia

In [139]:
nombres = ["Juan", "Pedro", "Ana", "Maria"]

In [141]:
"Juan" in nombres

True

In [143]:
"Pablo" in nombres

False

In [145]:
frase

'yo hago yoga hoy'

In [147]:
"yoga" in frase

True

In [149]:
paises = {"ARG": 46, "BRA": 213, "CHI":18}

In [151]:
"ARG" in paises

True

In [153]:
46 in paises

False

In [155]:
46 in paises.values()

True

In [157]:
paises.values()

dict_values([46, 213, 18])

In [159]:
"Pablo" not in nombres

True

## Funciones especiales  
- range
- enumerate
- zip

In [162]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [164]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [166]:
for i in range(5,101,10):
    print(i)

5
15
25
35
45
55
65
75
85
95

In [170]:
nombres = ["Juan", "Pedro", "Ana", "Maria"]

for ix, elemento in enumerate(nombres):
    print(ix, elemento)

0 Juan
1 Pedro
2 Ana
3 Maria

In [180]:
nombres = ["Juan", "Pedro", "Ana", "Maria"]
apellidos = ["Perez", "Gomez", "Rodriguez", "Fernandez", "Ramirez"]
edades = [10, 11,12]

for n, a, e in zip(nombres, apellidos, edades):
    print( a, n, e)

Perez Juan 10
Gomez Pedro 11
Rodriguez Ana 12

In [184]:
conjunto = {1,2,3,4,5,6}

for n, i in enumerate(conjunto):
    print(n, i)

0 1
1 2
2 3
3 4
4 5
5 6

In [186]:
paises = {"ARG": 46, "BRA": 213, "CHI":18}

for k, v in paises.items():
    print(k, v)

ARG 46
BRA 213
CHI 18

In [194]:

for k in paises:
    print(k, paises[k])

ARG 46
BRA 213
CHI 18

In [190]:
paises.items()

dict_items([('ARG', 46), ('BRA', 213), ('CHI', 18)])

In [196]:
paises?

Type:        dict
String form: {'ARG': 46, 'BRA': 213, 'CHI': 18}
Length:      3
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [198]:
# Crear un diccionario de ejemplo
mi_diccionario = {"a": 10, "b": 20, "c": 30, "d": 40}

# Inicializar una variable para almacenar la suma
suma_total = 0

# Recorrer el diccionario y sumar todos los valores
for clave, valor in mi_diccionario.items():
    suma_total += valor

# Imprimir el resultado final
print(f"La suma de todos los valores del diccionario es: {suma_total}")

La suma de todos los valores del diccionario es: 100

## Listas por comprension

In [215]:
# Crear una lista con los 100 primeros multiplos de 7 y que sean divisibles por 2

mul7 = [ i*7           for i in range(1,101)        if i*7%2 == 0  ]

In [217]:
mul7

[14,
 28,
 42,
 56,
 70,
 84,
 98,
 112,
 126,
 140,
 154,
 168,
 182,
 196,
 210,
 224,
 238,
 252,
 266,
 280,
 294,
 308,
 322,
 336,
 350,
 364,
 378,
 392,
 406,
 420,
 434,
 448,
 462,
 476,
 490,
 504,
 518,
 532,
 546,
 560,
 574,
 588,
 602,
 616,
 630,
 644,
 658,
 672,
 686,
 700]

In [219]:
# Resolver un diccionario de frecuencias por diccionario por comprension

lista = ["C", "A", "B", "A", "B", "A", "B", "D", "D", "E", "A", "B", "A", "B"]

In [233]:
resultado = { letra : lista.count(letra)         for letra in set(lista)   if letra != "B"   }

In [235]:
resultado

{'A': 5, 'E': 1, 'D': 2, 'C': 1}

In [225]:
lista.count("B")

5

In [229]:
set(lista)

{'A', 'B', 'C', 'D', 'E'}

## Unpacking

a, b, c = (1,2,3)

In [242]:
a, b, c = (1,2,3)

In [244]:
a

1

In [246]:
b

2

In [250]:
lista = [1,2,3,4]

In [256]:
max(lista)

4

In [260]:
len(lista)

4

In [262]:
sum(lista)/len(lista)

2.5

# Módulo 2

In [271]:
def cuadrado(n):
    return n**2

def cubo(n):
    return n**3

In [267]:
print(cuadrado(5))

25

In [269]:
print(cuadrado(10))

100

In [277]:
print(cubo(8))

512

In [283]:
def polinomio(x, y):
    pass

print("Fin de Programa")

Fin de Programa

In [287]:
# Argumentos

def resta(a, b):
    return a - b


print(resta(b=3, a=15))

12

In [295]:
# Argumentos opcionales 

def potencia(base, exponente=2):
    return base**exponente

print(potencia(2, 5))

32

In [301]:
# Cantidad indefinidad de argumentos

def sumar(*args):
    print(args)
    return sum(args)


print(sumar(1,2,3,4,5,6,7,8,9,10,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
66

In [305]:
# Keyword arguments

def mostrar(**kwargs):
    #print(kwargs)
    return { k.upper(): v.lower()  for k, v in kwargs.items() } 


print(mostrar( pepe="GOMEZ", juan="PEREZ", alberto="Rodriguez"))

{'PEPE': 'gomez', 'JUAN': 'perez', 'ALBERTO': 'rodriguez'}

## Funciones de Orden Superior

- Reciba como parametro otra función
- En Python todo es un objeto

1. map
2. filter
3. sorted

In [314]:
def cuadrado(n):
    return n**2

def cubo(n):
    return n**3

numeros = [3,5,6,7]

print( list(map(cubo, numeros)) )

[27, 125, 216, 343]

In [322]:

def bisiesto(anio):
    if  anio%400==0:
        return True
    else:
        if  anio%4==0 and anio%100!=0:
            return True
    return False

anios = [1800,1840,1871,1999,2000,2020,2021]

print(  list(filter(bisiesto, anios)) )

[1840, 2000, 2020]

In [326]:
def producto(lista):
    resultado = 1
    for i in lista:
        resultado *= i
    return resultado
        
lnumeros = [[2,6,8,1],[9,10,20,30],[1,2,3,4,5]]


sorted(lnumeros, key=producto)

[[2, 6, 8, 1], [1, 2, 3, 4, 5], [9, 10, 20, 30]]

In [334]:
def apellido(n_a):
    return n_a.split()[-1]

nombres = ["Juan Perez", "Ana Zarasa", "Pedro Gonzalez", "Maria Richard", "Alejandro Alonso"]

sorted(nombres, key=apellido)

['Alejandro Alonso',
 'Pedro Gonzalez',
 'Juan Perez',
 'Maria Richard',
 'Ana Zarasa']

In [336]:
"JUAN PEREZ".split()[-1]

'PEREZ'

## Funciones anónimas

In [341]:
cuadrado = lambda x : x**2

In [347]:
sorted(nombres, key=lambda x: x.split()[-1] )

['Alejandro Alonso',
 'Pedro Gonzalez',
 'Juan Perez',
 'Maria Richard',
 'Ana Zarasa']

In [349]:

frutas = ["higo", "anana", "limon", "tomate"]
frutas.sort(key=lambda x:x[::-1], reverse=True)
print(frutas)

['higo', 'limon', 'tomate', 'anana']

In [359]:
nombres = ["jUan", " ricardo", "ANA", "aLberto  ", " maria", "Juana"]
print(list( map(lambda x: x.strip().title(), nombres)  ))

['Juan', 'Ricardo', 'Ana', 'Alberto', 'Maria', 'Juana']

In [357]:
"         pedro picAPiedRA   ".strip().title()

'Pedro Picapiedra'

In [380]:
import random 

for i in range(100):
    print (random.randint(1,100))

30
18
11
59
88
75
8
57
31
51
35
85
48
11
5
69
69
50
40
100
77
60
84
41
22
91
27
19
43
86
33
93
100
66
28
14
91
7
49
84
61
91
76
1
100
82
77
56
12
37
30
60
94
51
69
88
59
23
4
7
3
96
73
57
4
93
12
22
61
88
49
63
93
86
69
84
52
32
1
1
45
28
2
36
16
40
37
56
89
24
67
33
59
74
45
44
42
17
53
77

In [384]:
from math import sqrt, sin

print(sqrt(100))

10.0

# Librerias / Modulos (numpy, pandas, matplotlib)
## SubModulos (pyplot)

- Usar dentro del programa son funciones, constantes, variables, clases, estructuras